# Xcode
build/
DerivedData/
*.xcuserstate
*.xcscmblueprint
*.xccheckout
xcuserdata/
*.moved-aside
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# SwiftPM
.swiftpm/
.build/
Packages/

# macOS
.DS_Store

# Локальные данные пользователя
Content/
PFI/Resources/seed_content.json
